[submodule "Frender"]
	path = Frender
	url = https://github.com/FinnTheTurkey/Frender.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "Assets/Sponza"]
	path = Assets/Sponza
	url = https://github.com/jimmiebergmann/Sponza.git
